{% extends 'main_app/base.html' %}

{% block middle %}
<div style="background-color:{{article.backgroundColor}}">

    <!------------------------------------------------------ BackgroundColor --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'article_app:articleChangeBackgroundColor' article.id %}" method="post">
                {% csrf_token %}
                <input type="color" name="text">{{article.backgroundColor}}</input>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change BackgroundColor
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Image --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'article_app:articleChangeImage' article.id %}" method="post">
                {% csrf_token %}
                <input type="file" name="text">{{article.image}}</input>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change image
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ IsBest --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            Is best?
            <form action="{% url 'article_app:articleChangeIsBest' article.id %}" method="post">
                {% csrf_token %}
                <input type="checkbox" name="text">{{article.isBest}}</input>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change isBest
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ IsVisible --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            Is visible?
            <form action="{% url 'article_app:articleChangeIsVisible' article.id %}" method="post">
                {% csrf_token %}
                <input type="checkbox" name="text">{{article.isVisible}}</input>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change is visible
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Category --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'article_app:articleChangeCategory' article.id %}" method="post">
                {% csrf_token %}
                <textarea name="text">{{article.category}}</textarea>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change category
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Title --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="offset-lg-5 col-md-3 articleTitle">
            {{article.title | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-3">
            <form action="{% url 'article_app:articleChangeTitle' article.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{article.title}}</textarea>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change title
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Date --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-2 articleDate">
            {{article.date | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-3">
            <form action="{% url 'article_app:articleChangeDate' article.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{article.date}}</textarea>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change dates
                </button>
            </form>
        </div>
    </div>
    {% endif %}


    <!------------------------------------------------------ Author --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-2 articleAuthor">
            {{article.author | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class=" col-md-3">
            <form action="{% url 'article_app:articleChangeAuthor' article.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{article.author}}</textarea>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change author
                </button>
            </form>
        </div>
    </div>
    {% endif %}


    <!------------------------------------------------------ Text --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-12 articleText">
            {{article.text | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class=" col-md-12">
            <form action="{% url 'article_app:articleChangeText' article.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{article.text}}</textarea>
                <button type="submit" class="btn btn-info" value="Change" id="buttonOwn"> Change text
                </button>
            </form>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}