<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  {% load static %}
  <script type="text/javascript" src="{% static 'main_app/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_app/plugin/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main_app/plugin/tinymce/init-tinymce.js' %}"></script>
  <link rel="stylesheet" href="{% static 'main_app/css/base.css' %}" type="text/css">

</head>

<body>

  <div class="container bodyContent">
    {% if not user.is_authenticated %}
    <div class="container--header">
      <div class="row">
        <div class="offset-lg-10 col-lg-2" data-toggle="modal" data-target="#login">
          <a href="#">Sign in</a>
        </div>
      </div>
    </div>
    {% include "user_account/login_and_register.html" %}

    {% else %}
    <div class="container--header">
      <div class="row">
        <a class="offset-lg-10 col-lg-2" href="{% url 'user_account:logout_view' %}">
          <p>Log out</p>
        </a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <img src="media/{{base.headerImage}}" class="img-responsive baseHeaderImage" width="100%" alt="Base image">
    </div>

    <div class="container--navbar sticky-top" style="background-color:{{nav.color}};">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand offset-lg-1 col-lg-1" style="color:{{nav.fontColor}}" href="{% url 'main_app:start_page' %}">{{nav.textMain}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggles"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" style="color:{{nav.fontColor}}" href="{% url 'article_app:articles' %}">{{nav.text1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:{{nav.fontColor}}" href="{% url 'tests_app:tests' %}">{{nav.text2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:{{nav.fontColor}}" href="{% url 'contact_app:contact' %}">{{nav.text3}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:{{nav.fontColor}}" href="{% url 'aboutMe_app:aboutMe' %}">{{nav.text4}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:{{nav.fontColor}}" href="{% url 'gallery_app:gallery' %}">{{nav.text5}}</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>


    {% block middle %}
    {% endblock %}


    {% if not user.is_authenticated %}

    {% else %}
    
    {% endif %}


    {% if not user.is_authenticated %}

    <footer class="page-footer font-small teal pt-4" style="background-color:{{footer.backColor}};">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            {{footer.text1 | safe}}
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">
            {{footer.text2 | safe}}
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3" style="color: {{footer.fontColor}};">© 2018 Copyright:
        <a href="#"> blog.com</a>
      </div>
    </footer>

    {% else %}

    <footer class="page-footer font-small teal pt-4" style="background-color:{{footer.backColor}};">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <div>
              <form action="{% url 'main_app:changeFooterText1' %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{footer.text1}}</textarea>
                <button type="submit" class="btn btn-default" value="Login" class="form login"> Change </button>
              </form>
            </div>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <div>
              <form action="{% url 'main_app:changeFooterText2' %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{footer.text2}}</textarea>
                <button type="submit" class="btn btn-default" value="Login" class="form login"> Change </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3" style="color: {{footer.fontColor}};">© 2018 Copyright:
        <a href="#"> blog.com</a>
      </div>
    </footer>

    {% endif %}


  </div>

</body>

</html>