.container--header
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container--navbar {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 3px 9px 38px -16px rgba(0,0,0,0.75);
}

.bodyContent{
    padding-left: 15px;
    padding-right: 15px;
}

.shortArticle{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shortArticle_title{
    text-align: center;
}

.baseHeaderImage{
    max-height: 300px;
    max-height: 1400px;
}

.articleTitle{
    margin-top:5px;
    margin-bottom: 5px;
    text-align: center;
}

.articleDate{
    margin-top: 2px;
}

.articleAuthor{
    margin-bottom: 5px;
}

.smallImageArticle{
    max-height: 255px;
}

.articlesMainTitle{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.rowChangeArticle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactTitle{
    margin-top: 20px;
    margin-bottom: 10px;
}

.contactChange{
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutMeLabel{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.aboutMeChange{
    margin-top: 20px;
    margin-bottom: 20px;
}


.textboxSignIn,
.buttonSignIn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.contactLabelDoYouHave
{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

.sendMessageGroup{
    margin-bottom: 20px;
}