{% extends 'main_app/base.html' %}

{% block middle %}
<div style="background-color:{{test.backgroundColor}}">

    <!------------------------------------------------------ BackgroundColor --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'tests_app:testChangeBackgroundColor' test.id %}" method="post">
                {% csrf_token %}
                <input type="color" name="text">{{test.backgroundColor}}</input>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change BackgroundColor
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Image --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'tests_app:testChangeImage' test.id %}" method="post">
                {% csrf_token %}
                <input type="file" name="text">{{test.image}}</input>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change image
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ IsBest --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            Is best?
            <form action="{% url 'tests_app:testChangeIsBest' test.id %}" method="post">
                {% csrf_token %}
                <input type="checkbox" name="text">{{test.isBest}}</input>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change isBest
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ IsVisible --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            Is visible?
            <form action="{% url 'tests_app:testChangeIsVisible' test.id %}" method="post">
                {% csrf_token %}
                <input type="checkbox" name="text">{{test.isVisible}}</input>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change is visible
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Category --------------------------------------------------->
    {% if not user.is_authenticated %}
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-2">
            <form action="{% url 'tests_app:testChangeCategory' test.id %}" method="post">
                {% csrf_token %}
                <textarea name="text">{{test.category}}</textarea>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change category
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Title --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="offset-lg-5 col-md-3 articleTitle">
            {{test.title | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-3">
            <form action="{% url 'tests_app:testChangeTitle' test.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{test.title}}</textarea>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change title
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <!------------------------------------------------------ Date --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-2 articleDate">
            {{test.date | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class="col-md-3">
            <form action="{% url 'tests_app:testChangeDate' test.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{test.date}}</textarea>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change dates
                </button>
            </form>
        </div>
    </div>
    {% endif %}


    <!------------------------------------------------------ Author --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-2 articleAuthor">
            {{test.author | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class=" col-md-3">
            <form action="{% url 'tests_app:testChangeAuthor' test.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{test.author}}</textarea>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change author
                </button>
            </form>
        </div>
    </div>
    {% endif %}


    <!------------------------------------------------------ Text --------------------------------------------------->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col-md-12 articleText">
            {{test.text | safe}}
        </div>
    </div>
    {% else %}
    <div class="row rowChangeArticle">
        <div class=" col-md-12">
            <form action="{% url 'tests_app:testChangeText' test.id %}" method="post">
                {% csrf_token %}
                <textarea class="tinymce" name="text">{{test.text}}</textarea>
                <button type="submit" class="btn btn-default" value="Change" class="form title"> Change text
                </button>
            </form>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}